Archive.zip
*.xlsx
*.xlsx#
*.numbers
*.numbers#
RoutingSampleFiles/*.xlsx
*.numbers
RoutingSampleFiles/route_maps/
Work/
scripts/*
!scripts/*.py
!scripts/*.js
missing_min_ids.txt
.DS_Store
**/ .DS_Store
